<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.seasonyuu.fnmusic.core.airplay.AirPlayProbeActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
